<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<!--define Connectrion string that will be used by the Code-First Migrations to connect with database
	 providerName: Is the Database Provider with which the application will connect anbd generate the
	 Database with tables using 'Migrations'
	 MultipleActiveResultSets: This makes sure that the data from Multiple Tables can be read
	-->
	<connectionStrings>
		<add name="RFShoppingDbContextConnection" connectionString="Data Source=.;Initial Catalog=RFShopping;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>